<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Renk Id</th>
        <th scope="col">Renk Adı</th>     
      </tr>
    </thead>
 
      <tr *ngFor="let color of colors">
        <th scope="row">{{color.colorId}}</th>
        <td>{{color.colorName}}</td>
        <button type="button" class="btn btn-warning"  style="margin-bottom: 5px;" routerLink="/colors/update/{{color.colorId}}">Güncelle</button>
      </tr>
    
  </table>
  <hr>
  <button type="button" class="btn btn-danger"  style="margin-bottom: 5px;" routerLink="/colors/add">Renk Ekle</button>
