<br />
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="carousel-inner">
        <div
          *ngFor="let carImage of carImages; index as i; first as firstImage"
          class="carousel-item align-self-center"
          [ngClass]="{ active: firstImage }"
          style="height: 100%; width: 100%"
        >
          <img
            src="{{ carImageBasePath }}{{ carImage.imagePath }}"
            class="img-thumbnail"
            alt="  {{ carImage.imagePath }}"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngFor="let cardetail of carDetails  let i = index" >
        <div *ngIf="i<1">
      <table class="table table-success table-striped">
        <tbody >
          
          <tr>
            <th scope="row">Model</th>
            <td>{{ cardetail.carName }}</td>
          </tr>
          <tr>
            <th scope="row">Marka</th>
            <td>{{ cardetail.brandName }}</td>
          </tr>
          <tr>
            <th scope="row">Renk</th>
            <td>{{ cardetail.colorName }}</td>
          </tr>
          <tr>
            <th scope="row">Açıklama</th>
            <td>{{ cardetail.description }}</td>
          </tr>
          <tr>
            <th scope="row">Fiyat</th>
            <td>{{ cardetail.dailyPrice | currency: "TL":"₺" }}</td>
          </tr>
         <tr>
          <th scope="row">Alış Tarihi</th>
           <td>
            <div class="form-group row">
              <label for="example-date-input"  class="col-2 col-form-label"></label>
              <div >
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            
           </td>
         </tr>
         <tr>
          <th scope="row">Teslim Tarihi</th>
          
           <td>
            <div class="form-group row">
              <label for="example-date-input"  class="col-2 col-form-label"></label>
              <div >
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            
           
           </td>
         </tr>
         <tr>
           <th scope="row"></th>
          <td><div class="card-body" *ngIf="isAuthenticated()" >
            <section style="float:left">
              <button type="button" routerLink="/rent/{{cardetail.carId}}" class="btn btn-danger">Kirala</button>
            </section>
          </div></td>
        </tr>
        <tr>
          <th>
            <div class="card-body" *ngIf="!isAuthenticated()" >
           <section >
             <button type="button" routerLink="/login" class="btn btn-danger">Kiralamak İçin Giriş Yapın</button>
           </section>
         </div>
          </th>
         <td>
          <div class="card-body" *ngIf="!isAuthenticated()" >
            <section >
              <button type="button" routerLink="/register" class="btn btn-danger">Üye Değilseniz Kayıt Olun</button>
            </section>
          </div>

         </td>
       </tr>
        </tbody>
      </table>
      <hr />
   </div>
   </div>
    </div>
  </div>
</div>
