<li  class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Kontrol Paneli
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a  class="dropdown-item"  routerLink="/cars/getall">Araç</a></li>
      <li><a  class="dropdown-item"  routerLink="/brands/getall">Marka</a></li>
      <li><a  class="dropdown-item"  routerLink="/colors/getall">Renk</a></li>
      
    </ul>
  </li>